/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #E1E1E1; /* Soft light gray background */
}

/* Tiffany Green color */
.bg-tiffany-green {
  background-color: #0ABAB5; /* Tiffany Green background */
}

.text-tiffany-green {
  color: #0ABAB5;
}

.text-white {
  color: white;
}

.card {
  border: 2px solid #0ABAB5; /* Tiffany Green border for cards */
}

.card-title {
  color: #0ABAB5; /* Tiffany Green color for card titles */
}

/* Search bar container */
.search-container {
  background-color: #FFFFFF; /* White background for search section */
  padding: 20px;
  border-radius: 8px;
}

/* Button styles */
.btn-primary {
  background-color: #0ABAB5; /* Tiffany Green color for buttons */
  border: none;
}

.btn-primary:hover {
  background-color: #F1C27D; /* Light Gold color on button hover */
}

.btn-tiffany {
  background-color: #0ABAB5; /* Tiffany Green button */
  border: none;
  color: white;
}

.btn-tiffany:hover {
  background-color: #F1C27D; /* Light Gold color on hover */
}

/* Footer */
footer {
  background-color: #0ABAB5; /* Tiffany Green background */
  color: white;
}
