Flask==2.2.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
pymongo==4.10.1
dotenv==0.0.5
Faker==33.1.0
setuptools==58.0.4
wheel==0.37.1
aniso8601==9.0.1
blinker==1.9.0
click==8.1.7
colorama==0.4.6
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
pytz==2024.2
six==1.17.0
Werkzeug==3.1.3
